body {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #17072b;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
  }
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.welcome {
  padding: 20px;
  width: 50%;
}
  
  .line-up {
    background-color: #172d67;
    color: #FFFFFF;
    padding: 15px;
    width: 50ch;
    height: 50ch;
  }
  .line-up ul {
    list-style-type: "-";
    font-size: 1.5rem;
  }

  .line-up ul li {
    padding-left: 20px;
  }
  
  .images { 
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    width: 48%;
  }

  
  footer {
    background-color: #8c15e9;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
  }
  
  h1, h2 {
    font-family: "Tahoma", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
  }

  
  img {
    max-width: 100%;
    height: auto;
  }

  .rightside{
    position: relative;
    padding: 40px;
  }